
<h3> Staff Record </h3>
<p>
  Names :        <%= @staff.name %><br />
  Role  :        <%= @staff.role %><br />
  Address :      <%= @staff.address %><br />
  Phone Number : <%= @staff.phone %><br />
</p>

