<div id="wrapper">

    <%=  render 'dashboard/sidebar' %>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <%=  yield  %>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
