<div id="wrapper">

    <%=  render 'dashboard/sidebar' %>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                    <%=  link_to 'Back', :back, class: 'btn btn-small btn-danger btn-block'  %>  
                </div>
                <%=  yield :links  %>
            </div>
            <%=  yield  %>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
