<div id="wrapper">

    <%=  render 'sidebar'  %>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>PMHRS</h1>
                    <p>Click on a tab link on the left menu for its dashboard to be displayed</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
