<% content_for :links do  %>
    <div class="col-md-3">
        <%=  link_to 'Add Hospital', new_hospital_path, class: 'btn btn-primary btn-success btn-block' %>
    </div>
    <div class="col-md-3">
        <%=  link_to 'All Hospitals', hospitals_path, class: 'btn btn-primary btn-success btn-block' %>
    </div>
<%  end  %>
