/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background-size: cover;
    background-image: url('/assets/PMHRS.jpg');
    opacity: 0.9;
 }

 .h:hover {
   background-color: #FF7F50;
   border-color: #FF7F50;
 }
 .btn-color {
   background-color: #00C5CD;
   border-color: #00C5CD;
 }

 .actions {
     width: 100%;
     font-size: 14px;
     text-transform: uppercase;
     font-weight: 500;
     margin-top: 16px;
     outline: 0;
     cursor: pointer;
     letter-spacing: 1px;
 }
