<%=  render 'staffs/staffs/links'  %>
<%=  render layout: 'dashboard/dashboard' do %>
    <div class="row">
        <div class="col-md-8">
            <%=  render @staffs %>
        </div>
    </div>

<%  end  %>
