<%=  render 'staffs/staffs/links'  %>
<%=  render layout: 'dashboard/dashboard' do %>
    <div class="row">
        <div class="col-md-12">
            <%=  render @staffs, width: 4 %>
        </div>
    </div>

<%  end  %>
